<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="householdUtility">
      <h2 data-cy="householdUtilityDetailsHeading">
        <span jhiTranslate="utilityResourcesManagerApp.householdUtility.detail.title">Household Utility</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="utilityResourcesManagerApp.householdUtility.name">Name</span></dt>
        <dd>
          <span>{{ householdUtility.name }}</span>
        </dd>
        <dt><span jhiTranslate="utilityResourcesManagerApp.householdUtility.accountId">Account Id</span></dt>
        <dd>
          <span>{{ householdUtility.accountId }}</span>
        </dd>
        <dt><span jhiTranslate="utilityResourcesManagerApp.householdUtility.rate">Rate</span></dt>
        <dd>
          <span>{{ householdUtility.rate }}</span>
        </dd>
        <dt><span jhiTranslate="utilityResourcesManagerApp.householdUtility.household">Household</span></dt>
        <dd>
          <div *ngIf="householdUtility.household">
            <a [routerLink]="['/household', householdUtility.household.id, 'view']">{{ householdUtility.household.address }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="utilityResourcesManagerApp.householdUtility.utilityProvider">Utility Provider</span></dt>
        <dd>
          <div *ngIf="householdUtility.utilityProvider">
            <a [routerLink]="['/utility-provider', householdUtility.utilityProvider.id, 'view']">{{
              householdUtility.utilityProvider.name
            }}</a>
          </div>
        </dd>
      </dl>

      <jhi-household-utility-chart
        *ngIf="householdUtility.consumption"
        [labels]="householdUtility.consumption!.month"
        [data]="householdUtility.consumption!.data"
        [label]="'Consumption'"
      ></jhi-household-utility-chart>
      <jhi-household-utility-chart
        *ngIf="householdUtility.consumption"
        [labels]="householdUtility.cost!.month"
        [data]="householdUtility.cost!.data"
        [label]="'Cost'"
      ></jhi-household-utility-chart>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/household-utility', householdUtility.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>

      <button
        type="submit"
        [routerLink]="['/consumption-history']"
        [queryParams]="{ 'filter[householdUtilityId.in]': householdUtility.id }"
        class="btn btn-info"
        data-cy="filterOtherEntityButton"
      >
        <fa-icon icon="eye"></fa-icon>
        <span
          class="d-none d-md-inline"
          jhiTranslate="entity.action.show"
          [translateValues]="{ otherEntity: ('utilityResourcesManagerApp.householdUtility.consumptionHistory' | translate) }"
          >Show Consumption History</span
        >
      </button>
    </div>
  </div>
</div>
