<div>
  <h2 id="page-heading" data-cy="UtilityProviderHeading">
    <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.home.title">Utility Providers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-utility-provider"
        [routerLink]="['/utility-provider/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.home.createLabel">Create a new Utility Provider</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="utilityProviders?.length === 0">
    <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.home.notFound">No Utility Providers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="utilityProviders && utilityProviders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="iban">
            <div class="d-flex">
              <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.iban">Iban</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="usreou">
            <div class="d-flex">
              <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.usreou">Usreou</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rate">
            <div class="d-flex">
              <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.rate">Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="utility.name">
            <div class="d-flex">
              <span jhiTranslate="utilityResourcesManagerApp.utilityProvider.utility">Utility</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilityProvider of utilityProviders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/utility-provider', utilityProvider.id, 'view']">{{ utilityProvider.id }}</a>
          </td>
          <td>{{ utilityProvider.name }}</td>
          <td>{{ utilityProvider.iban }}</td>
          <td>{{ utilityProvider.usreou }}</td>
          <td>{{ utilityProvider.rate }}</td>
          <td>
            <div *ngIf="utilityProvider.utility">
              <a [routerLink]="['/utility', utilityProvider.utility.id, 'view']">{{ utilityProvider.utility.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/utility-provider', utilityProvider.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/utility-provider', utilityProvider.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(utilityProvider)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="utilityProviders && utilityProviders.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
